---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Contactform from "@components/contactform.astro";
import Pagetitle from "@components/pagetitle.astro";
---

<Layout title="Contact">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Contacto</Fragment>
      <Fragment slot="desc">Estamos para ayudarte.</Fragment>
    </Pagetitle>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800 dark:text-gray-200">
          Contacto Stablo
        </h2>
        <p
          class="text-lg leading-relaxed text-gray-500 dark:text-gray-400 mt-3">
          Estamos para ayudarte! Si tienes alguna pregunta, no dudes en ponerte en contacto con nosotros. Rellena el formulario y te responderemos lo antes posible.
        </p>
        <div class="mt-5">
          <div
            class="flex items-center mt-2 space-x-2 text-gray-600 dark:text-gray-300">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Lobos (7240), Provincia de Buenos Aires</span>
          </div><div
            class="flex items-center mt-2 space-x-2 text-gray-600 dark:text-gray-300">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:example@example.com">example@example.com</a
            >
          </div><div
            class="flex items-center mt-2 space-x-2 text-gray-600 dark:text-gray-300">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+1 (987) 4587 899">+549-2227-000000</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
